@{
    ViewBag.Title = "About";
}

<br /><br />

    <div class="jumbotron">
        <h1>
            About us
        </h1>
        <p>
            We are a bunch of techies trying to develop an optimal solution for the botnet issues persistent in today's world.
        </p>
    </div>
<div class="container">

</div>