@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    RIT MH<br />
    Rajiv Gandhi Institute of Technology, Kottayam<br />
    <abbr title="Phone">P: 8281596630</abbr>
    686501
</address>

<address>
    <strong>Email:</strong> <a href="mailto:abhishek.mvr@outlook.com">supertramps@gmail.com</a>
</address>