@{
    ViewBag.Title = "Home Page";
}

        <div class="jumbotron">
            <h1>
                Welcome to Tracker
            </h1>
            <p>
                An application which perform intrusion detection without reading your data packets or installing third party applications on your machine.
            </p>
        </div>
    <div class="container-fluid">
        <div class="col-lg-4 col-md-4 col-sm-12" style="float:left;">
            <div class="jumbotron">
                <h1>
                    Secure
                </h1>
                <p>
                    We dont read your packet data which makes this application secure for organisations of any large size.We dont read your packet data which makes this application secure for organisations of any large size.
                </p>
                <a href="#" class="btn btn-info">
                    Learn More
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" style="float:left;">
            <div class="jumbotron">
                <h1>
                    Fast
                </h1>
                <p>
                    It is well tested on various platforms and is verified that its faster than most of the modern intrusion detection systems.It is well tested on various platforms and is verified that its faster than most of the modern intrusion detection systems.
                </p>
                <a href="#" class="btn btn-info">
                    Learn More
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" style="float:left;">
            <div class="jumbotron">
                <h1>
                    Safe
                </h1>
                <p>
                    We dont read your packet data which makes this application secure for organisations of any large size.We dont read your packet data which makes this application secure for organisations of any large size.
                </p>
                <a href="#" class="btn btn-info">
                    Learn More
                </a>
            </div>
        </div>
    </div>